
body {
    background-image: url('../img/pozadi.jpg');
}

main{
    max-width: 200em;
}

.content {
    background-color: rgba(255, 255, 255, 0.8);
}

header {
    background-color: red;
}

footer{
    background-color: azure;
    margin-top: 20em;
    height: 5.4em;
}

p {
   font-size: 23px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.f {
    font-size: 100em;
}

#ovoce p {
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 
img {
    margin-left: 22em;
}


h1 {
    font-size: 9em;
    color:yellow;
    font-family: fantasy;
    
}

h2 {
   font-size: 1.9em;
   text-transform: uppercase;
   color: #06a; 
   margin-bottom: 1em;
   margin-left: 1em;
   font-weight: 500;
}

h3 {
    text-align: center;
    font-size: 2.8em;
    color:yellow; 
    font-weight: 500;
    padding-bottom: 0.3em;
    background-color:red;
    padding: 10px 0 10px 20px;
}

 h4 {
    font-size: 2.3em;
    background-color:rgb(165, 236, 98);
    color:black; 
    text-align: center;
    padding: 10px 0 10px 20px;
    font-weight: 2300;
}
h5 {
    font-size: 1.7em;
    background-color: bisque;
    color:black; 
    text-align: center;
    padding: 10px 0 10px 20px;
    font-weight: 4000;
}

